<div class="block">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <span class="green-font">Br</span>eaking <span class="green-font">Ba</span>d</h1>
        <h2 class="subtitle">
          Check your BrBa boi
        </h2>
      </div>
    </div>
  </section>
  <div class="character">
    <div class="input_block">
      <div class="field">
        <div class="control">
          <input class="input mr-2 is-success" [(ngModel)]="input" placeholder="Enter Name">
          <button class="button is-success is-outlined" (click)="getChar()" [disabled]="input.length<=0">Find</button>
        </div>
      </div>
    </div>
  </div>
  <div class="char-block" *ngIf="viewData">
    <div class="tile ">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="image-container" attr.data-caption='{{character.name}}'>
            <img src={{character.img}} alt="" width=300px srcset="">
          </div>

        </article>
      </div>
      <div class="tile is-8 is-parent ">
        <article class="tile is-child box">
          <p class="title"><span class="green-font">Y</span>ou Are

            <span class="green-font"> {{character.name}}</span>
          </p>
          <div class="content">
            <p>People Calls You by {{character.nickname}}</p>
            <p>Job</p>
            <div class="occs">
              <span class="occ-block" *ngFor="let occupation of character.occupation;let i=index">{{occupation}}</span>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="char-block" *ngIf="viewData">
    <div class="tile ">
      <div class="tile is-parent ">
        <article class="tile is-child box">
          <p class="title"><span class="green-font">Q</span>uote <span class="green-font">S</span>uits You

            <span class="green-font"> </span>
          </p>
          <div class="content">
            <p></p>
            <p class="subtitle">{{quote.author}}</p>
            <p>{{quote.quote}}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>